@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /*Ira permitir deslizar a cada clicada nos links do menu */
    scroll-behavior: smooth;
}

/*Menu*/
.container-header{

    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header header{

    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.container-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #b41cb6;
    text-decoration: none;


}

.container-header header ul{
    display: flex;
    list-style: none;

}

.container-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}

.container-header header nav ul li a:hover{
    color: #21aaf4;
}
/*Barra de menu-lateral navegação*/
.nav-responsivo {
    background-color: #d40fcb;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

img{

    border-radius: 80px;
    padding: 60px;
    
}

/*Inicio SECCION*/
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/Fundo.png) no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;

}

.inicio .conteudo-banner{
padding: 20px;
background-color: #131516;
max-width: 350px;
margin: auto;
text-align: center;
border-radius: 40px;

}

.inicio  .conteudo-banner img{
margin-top: 40px;
border: 10px solid #b41cb6;
display: block;
width: 80%;
margin: auto;
border-radius: 10%;

}

.inicio .conteudo-banner h1{
    margin-top: 40px;
    font-size: 38px;
    font-family: 'Righteous';
}

.inicio .conteudo-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .conteudo-banner .redes a{

    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .conteudo-banner .redes a:hover{
    background-color: #b41cb6;

}

/*SOBRE MIM CSS*/
.sobremim{
background-color: #1e2326;
color: #fff;
padding: 50px 20px;

}
.sobremim .conteudo{
    max-width: 1100px;
    margin: auto;
}

.sobremim h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremim .conteudo p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremim .conteudo p span{
    color: #21aaf4;
    font-weight: bold;
}

.sobremim .linha{
    display: flex;
}

.sobremim .linha .col{
    width: 50%;
}

.sobremim .linha .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremim .linha .col ul{
    list-style: none;
}

.sobremim .linha .col ul li{

margin: 12px 0;
}
.sobremim .linha .col ul li strong{

    display: inline-block;
    color: #21aaf4;
    width: 130px;
}

.sobremim .linha .col ul li span{
    background-color: #21aaf4;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremim .linha .col .conteudo-interesses {
display: flex;
flex-wrap: wrap;

}
.sobremim .linha .col .conteudo-interesses .interesses{
    width: 100px;
    height: 100px;
    background-color: #11010e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

/*fundo rosa ao passar o mouse sobre conteudos de interesse*/
.sobremim .linha .col .conteudo-interesses .interesses:hover{
background-color: #21aaf4;


}
.sobremim .linha .col .conteudo-interesses .interesses i{
font-size: 30px;
margin-bottom: 10px;
}

.sobremim button{
cursor: pointer;
background-color: transparent;
border: 2px solid #fff;
width: fit-content;
display: block;
margin: 20px auto;
padding: 10px 22px;
font-size: 16px;
color: #fff;
position: relative;
z-index: 10;
}

.sobremim button .overlay{
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background-color: #21aaf4;
z-index: -1;
transition: 1s;

}
/*responsavel por criar uma animação ao passar o mouse na parte de baixar curriculo*/
.sobremim button:hover .overlay{
    width: 100%;
}

/*SKILL ESTILO(HABILIDADES PROFISSIONAIS)*/

.skills {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    
    }

    .skills .conteudo{
        max-width: 1100px;
        margin: auto;
    }
    
    .skills h2{
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }

    .skills .linha{
        display: flex;
    }

    .skills .linha .col{
        width: 50%;
        padding: 0 20px;
    }
    .skills .linha .col h3{
        font-size: 28px;
        font-family:'Righteous';
        margin-bottom: 25px;

    }

    .skills .skill > span{
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
    }

    .skills .skill .barra-skill{
        height: 8px;
        width: 80%;
        background-color: #131517;
        position: relative;
        margin-bottom: 30px;
    }

    .skills .skill .progresso{
        background-color: #21aaf4;
        position: absolute;
        top: 0;
        left: 0;
        height: 8px;
    
    }
    .skills .skill .barra-skill span{
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: #21aaf4;
        border-radius: 50px;
        line-height: 40px;
        text-align: center;
        top: -17px;
        right: -15px;
        font-size: 14px;
    }
    /*Esta classe sera unificada diretamente ao codigo javascript, para que possa ocorrer a interação*/
    .skills .skill .javascript{
        width: 0%;
        animation: 2s javascript forwards;
    }

    @keyframes javascript {
        0%{width: 0%;}
        100%{width: 75%;}
    }

    .skills .skill .htmlcss{
        width: 0%;
        animation: 2s htmlcss forwards;
    }

    @keyframes htmlcss {
        0%{width: 0%;}
        100%{width: 75%;}
    }

    .skills .skill .htmlcss{
        width: 0%;
        animation: 2s htmlcss forwards;
    }

    @keyframes htmlcss {
        0%{width: 0%;}
        100%{width: 85%;}
    }

    .skills .skill .bootstrap{
        width: 0%;
        animation: 2s bootstrap forwards;
    }

    @keyframes bootstrap {
        0%{width: 0%;}
        100%{width: 68%;}
    }

    .skills .skill .Oracle{
        width: 0%;
        animation: 2s Oracle forwards;
    }

    @keyframes Oracle {
        0%{width: 0%;}
        100%{width: 78%;}
    }

    .skills .skill .isolgpd{
        width: 0%;
        animation: 2s isolgpd forwards;
    }

    @keyframes isolgpd {
        0%{width: 0%;}
        100%{width: 95%;}
    }
/*SKILL PROFISSIONAL*/
    .skills .skill .comunicacao{
        width: 0%;
        animation: 2s comunicacao forwards;
    }

    @keyframes comunicacao {
        0%{width: 0%;}
        100%{width: 99%;}
    }

    .skills .skill .proatividade{
        width: 0%;
        animation: 2s proatividade forwards;
    }

    @keyframes proatividade {
        0%{width: 0%;}
        100%{width: 85%;}
    }

    .skills .skill .trabalhoequipe{
        width: 0%;
        animation: 2s trabalhoequipe forwards;
    }

    @keyframes trabalhoequipe {
        0%{width: 0%;}
        100%{width: 94%;}
    }

    .skills .skill .persuasao{
        width: 0%;
        animation: 2s persuasao forwards;
    }

    @keyframes persuasao {
        0%{width: 0%;}
        100%{width: 79%;}
    }

    .skills .skill .lider{
        width: 0%;
        animation: 2s lider forwards;
    }

    @keyframes lider {
        0%{width: 0%;}
        100%{width: 85%;}
    }


    /*SECCTION CURRICULUM*/
    .curriculum {
        background-color: #1e2326;
        color: #fff;
        padding: 50px 20px;
        
        }
    
        .curriculum .conteudo{
            max-width: 1100px;
            margin: auto;
        }
        
        .curriculum h2{
            font-size: 48px;
            font-family: 'Righteous';
            text-align: center;
            padding: 20px 0;
        }
    
        .curriculum .linha{
            display: flex;
            justify-content: space-between;
        }

        .curriculum .linha .col{
            width: 49%;
            padding: 0 20px;
        }

        .curriculum .linha .col h3{
            font-size: 28px;
            font-family:'Righteous';
            margin-bottom: 25px;
        }

        .curriculum .linha .esquerda{
            border-right: 2px solid #252a2e;
        }

        .curriculum .linha .direita{
            border-left: 2px solid #252a2e;
        }
        .curriculum .linha .item{
            padding: 25px;
            margin-bottom: 30px;
            background-color: #252a2e;
            position: relative;
        }

        .curriculum .linha .item h4{
            font-size: 20px;
            margin-bottom: 10px;
        }
        .curriculum .linha .item .ead{
          color: #21aaf4;
          font-size:22px;
          font-weight: bold;
          display: block;

        }

        .curriculum .linha .item .conclusao{
            display: block;
            color: #21aaf4;
            margin-bottom: 10px;
        }
        .curriculum .linha .item p{
            line-height: 24px;
        }

        .curriculum .linha .esq{
            border-right: 2px solid #21aaf4;
            margin-right: 20px;
        }
        .curriculum .linha .dir{
            border-left: 2px solid #21aaf4;
            margin-left: 20px;
        }

        /*Formatação entre estudos e profissão/espaçamento e css entre carreira*/
        .curriculum .linha .item .conectori{
            height: 2px;
            background-color: #21aaf4;
            width: 47px;
            position: absolute;
            top: 50%;
            right: -47px;
            z-index: 5;
        }

        .curriculum .linha .item .conectori .circuloi{
display: block;
height: 10px;
width: 10px;
border-radius: 50%;
background-color: #21aaf4;
float: right;
position: relative;
bottom: 4px;

        }

/*segunda parte do*/
        .curriculum .linha .item .conectord{
            height: 2px;
            background-color: #21aaf4;
            width: 47px;
            position: absolute;
            top: 50%;
            left: -47px;
            z-index: 5;
        }

        .curriculum .linha .item .conectord .circulod{
display: block;
height: 10px;
width: 10px;
border-radius: 50%;
background-color: #21aaf4;
float: left;
position: relative;
bottom: 4px;

        }

        /*SECCTION CSS PORTIFOLIO*/

        .portfolio{
            background-color: #252A2E;
            color: #fff;
            padding: 50px 20px;
        }
        .portfolio .conteudo{
            max-width: 1100px;
            margin: auto;
        }
        .portfolio h2{
            font-size: 48px;
            font-family: 'Righteous';
            text-align: center;
            padding: 20px 0;
        }
        .portfolio .galeria{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .portfolio .galeria .projeto{
            position: relative;
            max-width: 340px;
            height: fit-content;
            margin: 10px;
            cursor: pointer;
        }
        .portfolio .galeria .projeto img{
            width: 100%;
            display: block;
        }
        .portfolio .galeria .projeto .overlay{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background: linear-gradient(rgba(8, 214, 233, 0.8), rgba(24, 174, 233, 0.8));
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 1s;
            font-size: 18px;
            letter-spacing: 3px;
            opacity: 0;
        }

        .portfolio .galeria .projeto .overlay h3{
margin-bottom: 20px;
transition: 1s;

        }
        .portfolio .galeria .projeto .overlay:hover{
opacity: 1;
        }
        .portfolio .galeria .projeto .overlay:hover h3{
            margin-bottom: 0px;

        }

        /*CSS CONTATOS-ESTILIZANDO SECTION DE CONTATOS*/
        .contato{
            background-image: url(/img/contatofundo.png);
            background-color: #1e2326;
            color: #fff;
            padding:50px 0;
        }

        .contato .conteudo{

            max-width: 1100px;
            margin: auto;

        }
        .contato h2{
            font-size: 48px;
            font-family: 'Righteous';
            text-align: center;
            padding: 20px 0;
        }

        .contato .linha{
            display: flex;
        }

        .contato .col{
            width: 50%;
            padding: 10px;
            position: relative;
        }
        .contato .col input, .contato.col textarea{
            display: block;
            width: 100%;
            padding: 18px;
            border: none;
            margin-bottom: 20px;
            background-color: #252A2E;
            color: #fff;
            font-size: 18px;
        }

        .contato button{
            cursor: pointer;
background-color: transparent;
border: 2px solid #fff;
width: fit-content;
display: block;
margin: 20px auto;
padding: 10px 22px;
font-size: 16px;
color: #fff;
position: relative;
z-index: 10;
  }

  /*animação ao passar o mouse em cima botão*/
  .contato button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #21aaf4;
    z-index: -1;
    transition: 1s;

  }
  .contato button:hover .overlay{
    width: 100%;
  }

  .contato .col img{
    width: 100%;
  }

  .contato .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 5px;
    border-radius: 10px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%,-90%);
  }

  .contato .col .info ul{
    list-style: none;

  }

  .contato .col .info ul li{
    margin-bottom: 20px;
  }

  .contato .col .info ul li i{
    color: #21aaf4;
    display: inline-block;
    margin-right: 20px;
}

footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .acima{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #21aaf4;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

